.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d1117;
}

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: #161b22;
  padding: 2rem;
  border-radius: 12px;
  width: 100%;
  max-width: 360px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.title {
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}

.form label {
  color: #c9d1d9;
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
  display: block;
}

.form input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #30363d;
  background-color: #0d1117;
  color: white;
}

.form input:focus {
  border-color: #58a6ff;
  outline: none;
}

.colorDefault {
  color: #8e9194;
}

.colorValue {
  color: white;
}

.form select {
  width: 100%;
  padding: 0.75rem;
  border-radius: 6px;
  border: 1px solid #30363d;
  background-color: #0d1117;
}

.form select:focus {
  outline: #58a6ff;
  border-color: #58a6ff;
}

.button {
  padding: 0.75rem;
  border: none;
  border-radius: 6px;
  background-color: #238636;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
  width: 100%;
}

.button:hover {
  background-color: #2ea043;
}
