.container {
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
  flex: 1;
  overflow-x: hidden;
}

.title {
  display: flex;
  align-items: center;
  gap: 15px;
}

.containerBox {
  display: flex;
  flex-direction: row;
  flex: 1;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 15px;
  overflow-y: auto; 
  overflow-x: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
}

.box {
  display: flex;
  background-color: #ffffff;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 35vh;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 15px;
}

.img {
  object-fit: cover;
  border-radius: 15px;
  width: 100%;
  height: 200px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.button {
  padding: 15px;
  border: none;
  border-radius: 15px;
  background-color: #d10000dc;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button:hover {
  background-color: #9b0000dc;
}